<a href="https://colab.research.google.com/github/DirkTayab/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####For Loop Statement

In [5]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for (x) in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

#####Break Statement

In [4]:
for x in week:
  print(x) #print before breaking
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [6]:
for x in week:
  if x == "Thursday":
    break
  print(x) #break before printing

Sunday
Monday
Tuesday
Wednesday

#####Looping through a String

In [14]:
for x in "week":
 print(x,)

w
e
e
k

#####Range() Function

In [25]:
for x in range(6):
  print(x)

for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

#####Nested Loop

In [28]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop Statement

In [30]:
i = 1
while i<6:
  print(i)
  i += 1

1
2
3
4
5

#####Break Statement

In [32]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [35]:
i = 1
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

2
4
5
6

#####Else Statement

In [36]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no loner less than 6")

1
2
3
4
5
i is no loner less than 6

#Application 1:
Create a Python programe that displays:
Hello 0 
Hello 1,...
Hello 10

In [38]:
Text = ["Hello"]
for x in Text:
  for y in range(11):
    print(x, y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

#Application 2:
Create a Python program that displays
integers less than 10 but not less than 3

In [70]:
for n in range(3,10):
	print(n)

3
4
5
6
7
8
9

In [71]:
n=3
while n < 10:
  print(n)
  n += 1

3
4
5
6
7
8
9